/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.slider__container {
	border: 1px solid black;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
                      "slides slides"
                      "text buttons";
	background: #E0E0E0;
	width: 50vw;
	margin: 0 auto;
	overflow-x: hidden;
}

.slider__images {
  grid-area: slides;
	display: flex;
	height: 100%;
	width: 400%;
	overflow: hidden;
}

.slider__slide {
	width: 25%;
	transition: all 0.5s ease;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  color: #fff
}

.s1 {
  background-color: red;
}

.s2 {
  background-color: green;
}

.s3 {
  background-color: blue;
}

.s4 {
  background-color: orange;
}

input {
  display: none;
}

.slider__slider-handle {
  grid-area: buttons;
  padding: 10px 5px;
	display: flex;
	justify-content: flex-end;
  z-index: 99
}

.slider__slider-handle > label {
  cursor: pointer;
  margin-right: 7px;
  padding: 10px
}

.slider__slide-description {
  grid-area: text;
	overflow: hidden;
}
.slide-description__text-list {
  width: 400%;
  display: flex;
}
.text {
  width: 25%;
}

.bullet {
	height: 10px;
	width: 10px;
  border: 1px solid black;
}

#r1:checked ~ .slider__images .s1 {
	margin-left: 0;
}
#r2:checked ~ .slider__images .s1 {
	margin-left: -25%;
}
#r3:checked ~ .slider__images .s1 {
	margin-left: -50%;
}
#r4:checked ~ .slider__images .s1 {
	margin-left: -75%;
}

label:hover > div {
  background-color: rgba(255, 255, 255, 0.568);
}

#r1:checked ~ .slider__slide-description .t1 {
	margin-left: 0;
}
#r2:checked ~ .slider__slide-description .t1 {
	margin-left: -25%;
}
#r3:checked ~ .slider__slide-description .t1 {
	margin-left: -50%;
}
#r4:checked ~ .slider__slide-description .t1 {
	margin-left: -75%;
}

#r1:checked ~ .slider__slider-handle .b1 {
  background-color: #fff;
  box-shadow: 0px 0px 4px 1px rgba(34, 60, 80, 1);
}
#r2:checked ~ .slider__slider-handle .b2 {
  background-color: #fff;
  box-shadow: 0px 0px 4px 1px rgba(34, 60, 80, 1);
}
#r3:checked ~ .slider__slider-handle .b3 {
  background-color: #fff;
  box-shadow: 0px 0px 4px 1px rgba(34, 60, 80, 1);
}
#r4:checked ~ .slider__slider-handle .b4 {
  background-color: #fff;
  box-shadow: 0px 0px 4px 1px rgba(34, 60, 80, 1);
}

#r1:active ~ .slider__slider-handle .b1 {
  background-color: red;
}
#r2:active ~ .slider__slider-handle .b2 {
  background-color: green;
}
#r3:active ~ .slider__slider-handle .b3 {
  background-color: blue;
}
#r4:active ~ .slider__slider-handle .b4 {
  background-color: orange;
}