/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	object-fit: fill;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
	background: url(./assets//background/back.png) no-repeat center;
	background-size: cover;
	color:#fff;
	font-size: 1.5rem;
}

.slider {
	width: 50rem;
  height: 35rem;
  padding: 20px 30px;
}

.slider__container {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
                      "slides slides"
                      "text buttons";
	width: 100%;
	height: 100%;
	margin: 0 auto;
	overflow-x: hidden;
	row-gap: 1.5rem;
}

.slider__images {
  grid-area: slides;
	display: flex;
	height: 100%;
	width: 400%;
	overflow: hidden;
}

.slider__slide {
	width: 25%;
	height: 100%;
	transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

input {
  display: none;
}

.slider__slider-handle {
  grid-area: buttons;
	display: flex;
	justify-content: flex-end;
  z-index: 99
}

.slider__slider-handle > label {
  cursor: pointer;
  margin-right: 7px;
  padding: 10px
}

.slider__slider-handle > label:last-child {
  margin-right: 0;

}

.slider__slide-description {
  grid-area: text;
	overflow: hidden;
}
.slide-description__text-list {
  width: 400%;
  display: flex;
}
.text {
  width: 25%;
	transition: all 0.5s ease;
}

.bullet {
	height: 15px;
	width: 15px;
	border-radius: 50%;
  border: 2px solid #ffffff8a;
}

#r1:checked ~ .slider__images .s1 {
	margin-left: 0;
}
#r2:checked ~ .slider__images .s1 {
	margin-left: -25%;
}
#r3:checked ~ .slider__images .s1 {
	margin-left: -50%;
}
#r4:checked ~ .slider__images .s1 {
	margin-left: -75%;
}

label:hover > div {
  background-color: rgba(253, 240, 49, 0.8);
	transition: box-shadow 0.3s ease-out;
}

#r1:checked ~ .slider__slide-description .t1 {
	margin-left: 0;
}
#r2:checked ~ .slider__slide-description .t1 {
	margin-left: -25%;
}
#r3:checked ~ .slider__slide-description .t1 {
	margin-left: -50%;
}
#r4:checked ~ .slider__slide-description .t1 {
	margin-left: -75%;
}

#r1:checked ~ .slider__slider-handle .b1 {
  background-color: #fff;
  box-shadow: 0px 0px 6px 4px rgba(34, 60, 80, 1);
}
#r2:checked ~ .slider__slider-handle .b2 {
  background-color: #fff;
  box-shadow: 0px 0px 6px 4px rgba(34, 60, 80, 1);
}
#r3:checked ~ .slider__slider-handle .b3 {
  background-color: #fff;
  box-shadow: 0px 0px 6px 4px rgba(34, 60, 80, 1);
}
#r4:checked ~ .slider__slider-handle .b4 {
  background-color: #fff;
  box-shadow: 0px 0px 6px 4px rgba(34, 60, 80, 1);
}

#r1:active ~ .slider__slider-handle .b1 {
  background-color: orange;
}
#r2:active ~ .slider__slider-handle .b2 {
  background-color: orange;
}
#r3:active ~ .slider__slider-handle .b3 {
  background-color: orange;
}
#r4:active ~ .slider__slider-handle .b4 {
  background-color: orange;
}